@model WebApplication1.Models.department

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminDash.cshtml";
}


<div class="main__content">
    <h2 class="title">Department Details</h2>
    <div>

        <div class="row">
            <div class="col-lg-11 bold">
                @Html.DisplayNameFor(model => model.dept_name)
            </div>

            <div  class="col-lg-11">
                @Html.DisplayFor(model => model.dept_name)
            </div>
        </div>

        <div class="row">
            <div class="col-lg-11 bold">
                @Html.DisplayNameFor(model => model.dept_description)
            </div>

            <div class="col-lg-7">
                @Html.DisplayFor(model => model.dept_description)
            </div>
        </div>

        <div class="row">
            <div class="col-lg-11 bold">
                @Html.DisplayNameFor(model => model.dept_extension)
            </div>

            <div class="col-lg-11">
                @Html.DisplayFor(model => model.dept_extension)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 bold">
                @Html.DisplayNameFor(model => model.date_added)
            </div>

            <div class="col-lg-11">
                @Html.DisplayFor(model => model.date_added)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 bold">
                @Html.DisplayNameFor(model => model.site.name)
            </div>

            <div class="col-lg-11">
                @Html.DisplayFor(model => model.site.name)
            </div>

        </div>
        </div>
    <p class="crud__links">
        @Html.ActionLink("Delete", "Delete", new { id = Model.dept_id }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.dept_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
