@model IEnumerable<WebApplication1.Models.north_shore_accounts>

	@{ViewBag.Title = "Index";
        //Layout = "~/Views/Shared/_Layout.cshtml";
        Layout = "~/Views/Shared/_AdminDash.cshtml";

	}
<div class="container">
    <h2>All Donation Accounts</h2>
    <table class="table table-hover table-responsive-lg">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.fname)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.lname)
            </th>
            <th scope="col">
                Account Details
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lname)
                </td>
                <td>
                    @Html.ActionLink("Account and Payment Details", "AccountInfoDetails", new { id = item.id })
                </td>
            </tr>
        }
    </table>
    @*@Html.ActionLink("See all Donations", "Index")*@

</div>
